#intro {
  background: url(../Img/pic1.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content{
  position:relative;
  height:3000px;
  background-color:black;
}
body{
  align:center;
}
